<img src="https://i.redd.it/6brfmxf7b8ga1.png" alt="Italian Trulli">

### Exercise on data types

## <font color='red'>What data type would that be?</font>

#### x = 5
#### print(type(x))

In [1]:
# x is integer

#### x = "Hello World"
#### print(type(x))

In [2]:
# string

#### x = 20.5
#### print(type(x))

In [3]:
# Float

#### x = ["apple", "banana", "cherry"]
#### print(type(x))

In [4]:
# list

#### x = ("apple", "banana", "cherry")
#### print(type(x))

In [5]:
# tuple

#### x = {"name" : "John", "age" : 36}
#### print(type(x))

In [6]:
# dictionary

#### x = True
#### print(type(x))

In [7]:
# boolean

## Exercise on Numbers

#### Insert the correct syntax to convert x into a floating point number.

In [8]:
# x = 5
# x =....(x)
# print(x)

In [9]:
X=5
X

5

In [10]:
X=float(X)
X

5.0

### Insert the correct syntax to convert x into a integer.

In [11]:
# x = 5.5
# x =......(x)
# print(x)

In [12]:
Y=5.5
Y=int(Y)
Y

5

## Exercise on string

### Use the `len()` function to print the length of the string.

In [13]:
# x = "Hello World"
# print(.........)

In [42]:
x= "Hello world"
y= len(x)
y

11

### Get the first character of the string txt.

In [14]:
# txt = "Hello World"
# x = ..........

In [50]:
txt= "Hello world"
print(txt[0])

H

### Get the characters from index 2 to index 4 (llo).

In [15]:
# txt = "Hello World"
#  x =........

In [51]:
txt= "Hello world"
print(txt[2:5])

llo

##### Return the string without any whitespace at the beginning or the end.
##### hint ` txt.strip()`

In [16]:
# txt = " Hello World "
# x =..................

In [54]:
txt= "Hello world"
print(txt.strip())

Hello world

### Convert the value of `txt` to upper case.

In [17]:
# txt = "Hello World"
# txt = ........

In [58]:
txt= "hello world"
txt.upper()

'HELLO WORLD'

### Convert the value of `txt` to lower case.

In [18]:
# txt = "Hello World"
# txt = .........

In [59]:
txt= "Hello world"
txt.lower()

'hello world'

#### Replace the character` H` with a `J`

In [19]:
# txt = "Hello World"
# txt = txt. .......(...,... )

In [60]:
txt= "Hello world"
txt.replace("H","J")

'Jello world'

#### Insert the correct syntax to add a placeholder for the age parameter.

In [20]:
# age = 36
# txt = f"My name is John, and I am ......"
# print(txt)

In [62]:
H=36
print(f"my name is John and i am {H}")

my name is John and i am 36

### Exercise on Booleans

The statement below would print a Boolean value, which one?

In [21]:
# print(10 > 9)
# ..............True

The statement below would print a Boolean value, which one?

In [22]:
# print(10 == 9)
# ............ False

The statement below would print a Boolean value, which one?

In [23]:
# print(10 < 9)
# .......... False

### <font color='gold'>Exercise-1</font>

#### Write a Python program to print the following string in a specific format

In [24]:
# Twinkle, twinkle, little star,
# 	How I wonder what you are!
# 		Up above the world so high,
# 		Like a diamond in the sky.
# Twinkle, twinkle, little star,
# 	How I wonder what you are!

In [63]:
print("Twinkle, twinkle, little star, \n\tHow I wonder what you are! \n\t\tUp above the world so high, \n\t\tLike a diamond in the sky. \nTwinkle, twinkle, little star, \n\tHow I wonder what you are!")

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are!

### <font color='gold'>Exercise-2</font>

#### Write a Python program that print the user's first and last name and prints them in reverse order with a space between them.

In [26]:
fname ="Mohamed"
lname = "Ezz"
print("Hello  " + lname + " " + fname)

Hello  Ezz Mohamed

In [67]:
A= "Hamdy"
B= "Nacrish"
print(f" Hello!, I'm, {B} {A}")

 Hello!, I'm, Nacrish Hamdy

### <font color='gold'>Exercise-3</font>

#### Write a Python program that calculates the area of a circle and radius = 1.1

In [68]:
r = 1.1
area = 3.14 * r ** 2
print("The area of the circle with radius " + str(r) + " is: " + str(area))

The area of the circle with radius 1.1 is: 3.7994000000000008

In [82]:
R=1
H=3
V=3.14*H*r**2
print("the volume of Cylinder with ridus (" +str(R)+ ")  and Hight (" +str(H)+ ") is "  + str(V))

the volume of Cylinder with ridus (1)  and Hight (3) is 11.398200000000001

### <font color='gold'>Exercise-4</font>

#### Write a Python program that accepts a filename from the user and prints the extension of the file.

Sample Output:
Input the Filename: abc.java                                                                                  
The  extension of the file is : 'java'

In [28]:
filename = "abc.py"
f_extns = filename.split(".")
print("The extension of the file is : " + f_extns[-1])

The extension of the file is : py

In [84]:
filename="X.PDF"
f_extns=filename.split(".")
print("The extension of the file is : " +f_extns[-1])

The extension of the file is : PDF

### <font color='gold'>Exercise-5</font>

### Covert from string to list and tuple

In [29]:
values ="Amit"
tuple1 = tuple(values)
list1=list(values)
print('List : ', list1)
print('Tuple : ', tuple1)

List :  ['A', 'm', 'i', 't']
Tuple :  ('A', 'm', 'i', 't')

In [98]:
name= "Hamdy Nacrish"
tup1=tuple(name)
list1=list(name)
print("list:", list1)

TypeError: 'tuple' object is not callable

 ## After that

### Relace the index 3 in the list

In [30]:
list1[3]="E"
print(list1)

['A', 'm', 'i', 'E']

 ### Convert the list to string

In [31]:
x="".join(list1)
print((x))

AmiE

### <font color='gold'>Exercise-6</font>

#### Write a Python program to display the first and last colors from the following list.

#### color_list = ["Red","Green","White" ,"Black"]

<img src="https://www.w3resource.com/w3r_images/python-basic-image-exercise-8.png" alt="Italian Trulli">

In [32]:
color_list = ["Red", "Green", "White", "Black"]
print((color_list[0], color_list[-1]))

('Red', 'Black')

## <font color='gold'>Exercise-7</font>

#### Write a Python program to print the following 'here document'.

In [33]:
#Sample Output:
# a string that you "don't" have to escape
# This
# is a  ....... multi-line
# heredoc string --------> example

In [34]:
print("""
a string that you "don't" have to escape
This
is a  ....... multi-line
heredoc string --------> example
""")

a string that you "don't" have to escape
This
is a  ....... multi-line
heredoc string --------> example

### Other solution

In [35]:
print('astring that you don\'t have to escape\nThis\nis a   ....... multi-lineheredoc\nstring --------> example')

astring that you don't have to escape
This
is a   ....... multi-lineheredoc
string --------> example

## <font color='gold'>Exercise- 8</font>

###### I need to  check if  link `https://www.google.com/` strart with https or not and if the ` aimt4536@gmail.com` end with .com

In [36]:
x='https://www.google.com/'
print(x.startswith("https"))
y="adsadasda@gmail.com"
print(y.endswith(".com"))

True
True

In [37]:
value="mohamed"
print([value])

['mohamed']